import /tee.rc
import /init.custom.rc
import /trustonic.rc

# =====================================================
# SERVICES
# =====================================================

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-1-trustonic /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    class hal
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

# =====================================================
# EARLY INIT
# =====================================================

on early-init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

# =====================================================
# INIT
# =====================================================

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller musb-hdrc
    setprop sys.usb.state none

# =====================================================
# FS
# =====================================================

on fs
    install_keyring
    mount_all /fstab.mt6768

# =====================================================
# POST FS DATA
# =====================================================

on post-fs-data
    mkdir /dev/.kmsg 0755 root root

# =====================================================
# CRYPTO STARTUP
# =====================================================

on property:hwservicemanager.ready=true
    start mobicore
    start keymaster_attestation-1-1
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-1-trustonic

on property:crypto.ready=1
    start mobicore
    start keymaster_attestation-1-1
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-1-trustonic

# =====================================================
# CRYPTO STOP
# =====================================================

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-1-trustonic

on property:crypto.ready=0
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-1-trustonic

# =====================================================
# BOOT
# =====================================================

on boot
    start health-hal-2-1
    start boot-hal-1-2

# =====================================================
# LATE INIT
# =====================================================

on late-init
    start adbd

    setprop sys.usb.config adb
    setprop sys.usb.state adb
