# Copyright (c) 2011-2016, The Linux Foundation.
# Minimal MT6768 Recovery USB Fix

import /init.recovery.mt6768.rc

on early-init
    write /sys/module/block/parameters/events_dfl_poll_msecs 1000

on boot
    setprop sys.usb.controller musb-hdrc
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 0
