import /tee.rc
import /init.custom.rc
import /trustonic.rc

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-1-trustonic /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0
    
on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on fs
    install_keyring

on late-fs
    mount_all /first_stage_ramdisk/fstab.mt6833 --late

on property:crypto.ready=1
    start mobicore
    start keymaster_attestation-1-1
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-1-trustonic

on property:hwservicemanager.ready=true
    start mobicore
    start keymaster_attestation-1-1
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-1-trustonic

on property:ro.crypto.state=unsupported
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-1-trustonic

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-1-trustonic

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-1-trustonic

on property:crypto.ready=0
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-1-trustonic

on boot
    start boot-hal-1-2
    start health-hal-2-1
